.heros{
  background-color:#f7fbfb;

}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.content {
  max-width: 600px;
}

.title {
  color: #2457a6;
  width: 300px;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 52px;
  line-height: 1.15;
  color: #172b4d;
  margin-bottom: 25px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  color: #667085;
  max-width: 500px;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn {
  background: #2457a6;
  color: white;
  border: none;
  padding: 16px 28px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.stats{
    display: flex;
    gap: 40px;
    margin-top: 45px;
}
.stat h3{
    font-size: 28px;
    color: #2457a6;
    margin-bottom: 5px;
}
.stat p{
    font-size: 14px;
    color: #667085;
}
.stat{
    padding-right: 40px;
    border-right: 1px solid #d9dee8;
}
.stat:last-child{
    border-right: none;
}
.image img {
  width: 420px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
}